body{
    margin: 0;
}
.menue{
    height: 50px;
    background-color: white;
    padding-left: 28%;
    padding-right: 28%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.menue .menue1{
    display: flex;
    align-items: center;
    font-size: 27px;
}
.menue1 :nth-child(1){
    color: rgb(230, 88, 88);
    font-size: 30px;
}
.menue .menue2{
    display: flex;
    align-items: center;
}
.menue .item{
    margin-left: 20px;
}
.menue .item a{
    text-decoration: none;
    color: black;
}
.header{
    height: 400px;
    width: 100vw;
    overflow: hidden;
    background-image: url(index_header.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    position: relative;
}

.header .p1{
    font-size: 28px;
    color: white;
    position: absolute;
    right: 50px;
    bottom: 0;
}
.container{
    display: flex;
}
.img_b{
    width: 65%;
    overflow: hidden;
    object-fit: cover;
    
}
.info1{
    background-color: orange;
    width: 35%;
    padding: 28px;
    font-size: 21px;
    color: white;
    line-height: 40px;
}

.info2{
    background-color: rgb(236, 223, 223);
    width: 35%;
    color: rgb(48, 35, 35);
    font-size: 24px;

}
.poem{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.footer{
    height: 240px;
    background-color: rgb(46, 32, 32);
}